<!DOCTYPE html>
<html>
  <head>
  <title>Bikes For Students</title>
    <%= favicon_link_tag 'bicycle_icon.png', rel: 'bicycle-logo', type: 'image/png' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <%= yield %>

</html>
